.navbar {
  background-color: #2e8b57;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.navbar-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.aya-name {
  color: #22543d;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
